// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.coach {
  background: lightyellow;
}

.name {
  font-style: italic;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: blue;
  &:hover {
    font-weight: bold;
  }
}

.container {
  margin: 0 20px;
}

.student, .coach {
  border-left: 6px solid lightgrey;
  padding-left: 15px;
}

.btn {
  background-color: blue;
  color: white;
  font-weight: bold;
}

input[type="text" i] {
  height: 40px;
  width: 1000px;
  padding: 0;
  margin-right: 0;
  border-radius: 5px;
}

input[type="submit" i] {
  height: 40px;
  width: 75px;
  padding: 0;
  margin-left: 0;

}

input {
  border-color: lightgrey
}
